.buttonContainer {
    margin: 0 0 5px 0;
}
.buttonText {
    width: 100%;
    border: 1px solid #db5c01;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    color: #db5c01;
    padding: 8px 15px;
    text-align: center;
    background: #1b1612;
}

.buttonText:hover {
    border: 1px solid #fff;
    color: #fff;
}
